/* CSS for responsive menu demo */

/* define variables */
:root {
    --nav-height: 3rem;
    --nav-bkgd-color: #36865A;
    --nav-text-color: #0FDB6B;
    --nav-hover-bkgd-color: #658675;
    --nav-hover-text-color: #5BDB97;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: var(--nav-height) 0 0 0;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--nav-height);
    background-color: var(--nav-bkgd-color);
    z-index: 1;
}

#navBurger {
    position: relative;
    display: block;
    font-size: 2rem;
    color: var(--nav-text-color);
    padding: 0.1em 0 0 0.3em;
    max-height: 2rem;
}

nav ul {
    position: relative;
    background-color: var(--nav-bkgd-color);
    list-style: none;
    margin: 0;
    padding: 0;
}

nav>ul {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

nav.clicked>ul {
    max-height: 90vh;
}

nav>ul>li {
    position: relative;
    background-color: var(--nav-bkgd-color);
    display: block;
    margin: 1rem;
}

nav>ul>li>a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

nav>ul>li>a::after {
    position: absolute;
    right: 0.3rem;
    top: 0.2rem;
    color: inherit;
    font-size: 110%;
}

nav>ul>li>ul {
    margin: 0 0 0 1rem;
    background-color: inherit;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

nav>ul>li.clicked>ul {
    max-height: 90vh;
}

nav>ul>li>ul>li {
    padding: 0.5rem 0 0.5rem 0.5rem;
}

nav a {
    text-decoration: none;
    color: var(--nav-text-color);
}

nav>ul>li>ul>li:hover {
    background-color: var(--nav-hover-bkgd-color);
}

nav>ul>li>ul>li:hover a {
    color: var(--nav-hover-text-color);
}

main {
    margin-left: 2vw
}

body {
    background-color: #26332C;
    color: #0FDB6B;
}

a {
    color: #0FDB6B;
    text-decoration: none;
}

section {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px;
    flex-wrap: wrap;
}

.btn {
    background: #36865A;
    padding: 10px 30px;
    border-radius: 20px;
    transition: 0.3s;
    font-size: 25px
}

hr {
    margin-left: 0;
    width: 96%;
}

.smlbtn {
    text-decoration: none;
    background: #36865A;
    padding: 30px 50px;
    border-radius: 20px;
    width: 300px;
    text-align: center;
    font-size: 20px;
    transition: 0.3s;
}


.mainsection, .majorprojectsection {
    margin: 5vh;
    margin-top: 0;
    height: 33vh;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

p {
    margin: 5vh;
    font-size: 20px;
}

.btn:hover, .smlbtn:hover {
    background-color: #658675;
}

/* ----- MEDIA QUERY for landscape/desktop layout ----- */
@media screen and (orientation: landscape) {

    #navBurger {
        display: none;
    }

    nav>ul {
        overflow: visible;
    }

    nav>ul>li {
        float: left;
        margin: 0.5rem;
    }

    nav>ul>li a {
        padding-right: 0.5rem;
        margin: 0;
    }

    nav>ul>li>ul {
        margin: 0 0.5rem 0.5rem 0;
        visibility: hidden;
        position: absolute;
    }

    nav>ul>li.clicked>ul {
        display: block;
        visibility: visible;
    }

    nav>ul>li>ul li {
        margin: 0;
        white-space: nowrap;
    }

    nav>ul>li>a::after {
        content: "";
    }

}