@import url('https://fonts.googleapis.com/css2?family=Shalimar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --nav-height: 3rem;
    --nav-bkgd-color: #1c2536;
    --nav-text-color: white;
    --nav-hover-bkgd-color: lightgray;
    --nav-hover-text-color: black;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: var(--nav-height) 0 0 0;
    font-family: arial;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--nav-height);
    background-color: var(--nav-bkgd-color);
    z-index: 1;
}

#navBurger {
    position: relative;
    display: block;
    font-size: 2rem;
    color: var(--nav-text-color);
    padding: 0.1em 0 0 0.3em;
    max-height: 2rem;
}

nav ul {
    position: relative;
    background-color: var(--nav-bkgd-color);
    list-style: none;
    margin: 0;
    padding: 0;
}

nav>ul {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

nav.clicked>ul {
    max-height: 90vh;
}

nav>ul>li {
    position: relative;
    background-color: var(--nav-bkgd-color);
    display: block;
    margin: 1rem;
}

nav>ul>li>a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

nav>ul>li>a::after {
    position: absolute;
    right: 0.3rem;
    top: 0.2rem;
    color: inherit;
    font-size: 110%;
}

nav>ul>li>ul {
    margin: 0 0 0 1rem;
    background-color: inherit;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

nav>ul>li.clicked>ul {
    max-height: 90vh;
}

nav>ul>li>ul>li {
    padding: 0.5rem 0 0.5rem 0.5rem;
}

nav a {
    text-decoration: none;
    color: var(--nav-text-color);
}

nav>ul>li>ul>li:hover {
    background-color: var(--nav-hover-bkgd-color);
}

nav>ul>li>ul>li:hover a {
    color: var(--nav-hover-text-color);
}

.hometitle h1 {
    margin-top: 2vh;
}

h2 a, h3 a{
    color: white;
    text-decoration: none;
}
h2 a:hover, h3 a:hover {
    font-size: 30px;
    color: #d2b373 !important;
    transition: 0.3s;
}

h3 a:hover {
    font-size: 20px;
}

h2 {
    text-align: center;
    margin-top: 4em;
}
header {
    width: 100%;
    height: 95vh;    
    position: relative;
    background-image: url("Quadeca-CI7A9836-scaled.jpg");
    background-size: cover;
    background-position: center center;
    min-height: 75vh;
    display: flex;
    align-items: flex-end; 
    padding: 2rem;
    
}

.homedescription {
    position: relative;
    z-index: 2;
    color: black;
    margin: 0;
    bottom: 0;
    font-size: 15px;
}

body {
    background-color: #1c2536;
    color: white;
}

p, h1, h2, h3, li {
    font-family: 'Montserrat', sans-serif;
}

.hometitle {
    position: absolute;
    z-index: 0;
    margin: 0;
    top: 0;
    font-family: 'Shalimar';
    font-size: 3rem;
}

main {
    width: 95%;
    margin: 0 auto;
}

.albums, .otherprojects, .merch {
    width: 100%;
    height: 70vh;
    position: relative;
    padding: 1rem;
}

.albums h2, .otherprojects h2, .merch h2 {
    padding: 1rem;
}

.albums img, .otherprojects img, .merch img {
    width: 160px;
}

.fmtycover, .blushcover, .cassette {
    position: absolute;
    left: calc(100% * 0/2);
}

.scrapyardcover, .stardustcover, .hat {
    position: absolute;
    top: 60%;
    left: calc(100% * 0/2);
}

.idmthycover, .runningcover, .tshirt {
    position: absolute;
    left: calc(100% * 1/2);
}

.vanishercover, .sunshinecover, .hoodie {
    position: absolute;
    left: calc(100% * 1/2);
    top: 60%;
}

h3 {
    text-align: center;
    width: 10rem;
}

img.albums, img.otherprojects, img.merch {
    size: 100px;
}

iframe {
    max-width: 100%;
}

.idmthymovie {
    margin-top: 2rem;
}

.albumimg img{
    width: 100%;
}

.albumimg img {
    width: 100%;
}

.albumcover img {
    width: 100%;
}

.tracklist li {

    padding: 15px;
}

.fmtypage, .scrapyardpage {
    background-color: #2e2d2d;
}

.idmthypage {
    background-color: #9e8658;
}

.aboutpage {
    background-image: url("profile.jpg");
    background-size: cover;
    height: 93vh;
    margin: 0;
    width: 95%;
    position: absolute;
    background-position: 175vw ;
}

.aboutdesc {
    position: relative;
    top: 85vh;
    margin: 5px;
    margin-top: 10px;
}

.abouttitle {
    margin: 3vw;
}

.gridlayout {
    display: grid;
    grid-template-columns: repeat(2, calc(100% / 2));
    grid-template-rows: repeat(11, auto);
    grid-template-areas:
        "title title"
        "t1 t1"
        "c1 c2"
        "c3 c4"
        "c5 c6"
        "c7 ."
        "t2 t2"
        "c8 c9"
        "c10 c11"
        "t3 t3"
        "c12 c13"
        "c14 c15"
        "c16 c17"
        "c18 ."
        "t4 t4"
        "c19 c20"
        "c21 c22"
        "c23 c24"
        "c25 c26"
        "c27 c28"
        "c29 c30"
        "c31 c32"
        "c33 .";
}

.gridlayout #videostitle { grid-area: title; }
.gridlayout #c1 { grid-area: c1; }
.gridlayout #c2 { grid-area: c2; }
.gridlayout #c3 { grid-area: c3; }
.gridlayout #c4 { grid-area: c4; }
.gridlayout #c5 { grid-area: c5; }
.gridlayout #c6 { grid-area: c6; }
.gridlayout #c7 { grid-area: c7; }
.gridlayout #c8 { grid-area: c8; }
.gridlayout #c9 { grid-area: c9; }
.gridlayout #c10 { grid-area: c10; }
.gridlayout #c11 { grid-area: c11; }
.gridlayout #c12 { grid-area: c12; }
.gridlayout #c13 { grid-area: c13; }
.gridlayout #c14 { grid-area: c14; }
.gridlayout #c15 { grid-area: c15; }
.gridlayout #c16 { grid-area: c16; }
.gridlayout #c17 { grid-area: c17; }
.gridlayout #c18 { grid-area: c18; }
.gridlayout #c19 { grid-area: c19; }
.gridlayout #c20 { grid-area: c20; }
.gridlayout #c21 { grid-area: c21; }
.gridlayout #c22 { grid-area: c22; }
.gridlayout #c23 { grid-area: c23; }
.gridlayout #c24 { grid-area: c24; }
.gridlayout #c25 { grid-area: c25; }
.gridlayout #c26 { grid-area: c26; }
.gridlayout #c27 { grid-area: c27; }
.gridlayout #c28 { grid-area: c28; }
.gridlayout #c29 { grid-area: c29; }
.gridlayout #c30 { grid-area: c30; }
.gridlayout #c31 { grid-area: c31; }
.gridlayout #c32 { grid-area: c32; }
.gridlayout #c33 { grid-area: c33; }
.gridlayout #c34 { grid-area: c34; }
.gridlayout #t1 { grid-area: t1; }
.gridlayout #t2 { grid-area: t2; }
.gridlayout #t3 { grid-area: t3; }
.gridlayout #t4 { grid-area: t4; }

#videospage iframe {
    padding: 10px;
    margin-top: 10px;
}

.merchpage img {
    width: 170px;
}

.merchpage {
    display: grid;
    grid-template-columns: repeat(2, calc(100% / 2));
    grid-template-rows: repeat(11, auto);
    grid-template-areas:
        "title title"
        "c1 c2"
        "c3 c4"
        "c5 c6"
        "c7 c8"
        "c9 c10"
        "c11 c12";
}

.merchpage #merchtitle { grid-area: title; }
.merchpage #c1 { grid-area: c1; }
.merchpage #c2 { grid-area: c2; }
.merchpage #c3 { grid-area: c3; }
.merchpage #c4 { grid-area: c4; }
.merchpage #c5 { grid-area: c5; }
.merchpage #c6 { grid-area: c6; }
.merchpage #c7 { grid-area: c7; }
.merchpage #c8 { grid-area: c8; }
.merchpage #c9 { grid-area: c9; }
.merchpage #c10 { grid-area: c10; }
.merchpage #c11 { grid-area: c11; }
.merchpage #c12 { grid-area: c12; }

.merchpage div {
    margin-top: 4rem;
} 

.merchpage {
    width: 90%;
}

footer {
    font-size: 10px;
}

/* ----- MEDIA QUERY for landscape/desktop layout ----- */
@media screen and (orientation: landscape) {

    #navBurger {
        display: none;
    }

    nav>ul {
        overflow: visible;
    }

    nav>ul>li {
        float: left;
        margin: 0.5rem;
    }

    nav>ul>li a {
        padding-right: 0.5rem;
        margin: 0;
    }

    nav>ul>li>ul {
        margin: 0 0.5rem 0.5rem 0;
        visibility: hidden;
        position: absolute;
    }

    nav>ul>li.clicked>ul {
        display: block;
        visibility: visible;
    }

    nav>ul>li>ul li {
        margin: 0;
        white-space: nowrap;
    }

    nav>ul>li>a::after {
        content: "";
    }

header {
    background-position: center;
}

.hometitle h1{
    font-size: 100px;
}

h3 {
    width: 20rem;
}

.homedescription {
    font-size: 20px;
}

.albums, .otherprojects, .merch {
    height: 50vh;
    width: 100%;
    margin: 0 auto;
    left: 50px;
}
    
.albums img, .otherprojects img, .merch img {
    width: 300px;
}

.fmtycover, .blushcover, .cassette {
    left: calc(100% * 0/4);
}

.scrapyardcover, .stardustcover, .hat {
    left: calc(100% * 1/4);
    top: 16px;
}

.idmthycover, .runningcover, .tshirt {
    position: absolute;
    left: calc(100% *2/4);
}

.vanishercover, .sunshinecover, .hoodie {
    position: absolute;
    left: calc(100% * 3/4);
    top: 16px;
}

.idmthymovie {
    position: absolute;
    left: 60%;
    margin-top: 0;
}

.vanishermovie {
    position: absolute;
    left: 10%
}

.merchtitle {
    padding-top: 40vh;
}

h1 {
    font-size: 50px;
}

.albumimg img {
    max-width: 600px;
    position: absolute;
}

.albumdesc {
    width: 50vw;
    font-size: 30px;
    left: 40%;
    margin-top: 0;
    position: relative;
}

.albumsection {
    position: relative;
    height: 50vh;
    margin-top: 30vh;
}

.albumcover img {
    width: 40%;
    position: absolute;
}

.desc {
    position: relative;
    left: 42vw;
    width: 50%;
    font-size: 30px;
}

.tracklist {
    position: relative;
    top: 150px;
    height: 10px;
}

.tracklist li {
    font-size: 30px
}

.half1 {
    position: absolute;
}

.half2 {
    position: absolute;
    left: 60vw
}

.aboutpage {
    background-position: center;
    height: 95%;
    width: 50%;
}

.abouttitle {
    margin: 1vw;
}

.aboutdesc {
    position: absolute;
    top: 0;
    left: 50vw;
    width: 95%;
    font-size: 28px
}

.gridlayout div {
    margin-left: 6vw;
}

.merchpage {
    display: grid;
    grid-template-columns: repeat(4, calc(100% /4));
    grid-template-rows: repeat(11, auto);
    grid-template-areas:
        "title title title title"
        "c1 c2 c3 c4"
        "c5 c6 c7 c8"
        "c9 c10 c11 c12";
}

.merchpage div {
    margin-top: 8rem;
} 

.merchpage img{
    width: 320px
}

.albumsmain, .othersongsmain footer {
    position: relative;
    top: 20vh
}

}