@import url('https://fonts.googleapis.com/css2?family=Shalimar&display=swap');

:root {
    --nav-height: 3rem;
    --nav-bkgd-color: #1c2536;
    --nav-text-color: white;
    --nav-hover-bkgd-color: lightgray;
    --nav-hover-text-color: black;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: var(--nav-height) 0 0 0;
    font-family: arial;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--nav-height);
    background-color: var(--nav-bkgd-color);
    z-index: 1;
}

#navBurger {
    position: relative;
    display: block;
    font-size: 2rem;
    color: var(--nav-text-color);
    padding: 0.1em 0 0 0.3em;
    max-height: 2rem;
}

nav ul {
    position: relative;
    background-color: var(--nav-bkgd-color);
    list-style: none;
    margin: 0;
    padding: 0;
}

nav>ul {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

nav.clicked>ul {
    max-height: 90vh;
}

nav>ul>li {
    position: relative;
    background-color: var(--nav-bkgd-color);
    display: block;
    margin: 1rem;
}

nav>ul>li>a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

nav>ul>li>a::after {
    position: absolute;
    right: 0.3rem;
    top: 0.2rem;
    color: inherit;
    font-size: 110%;
}

nav>ul>li>ul {
    margin: 0 0 0 1rem;
    background-color: inherit;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

nav>ul>li.clicked>ul {
    max-height: 90vh;
}

nav>ul>li>ul>li {
    padding: 0.5rem 0 0.5rem 0.5rem;
}

nav a {
    text-decoration: none;
    color: var(--nav-text-color);
}

nav>ul>li>ul>li:hover {
    background-color: var(--nav-hover-bkgd-color);
}

nav>ul>li>ul>li:hover a {
    color: var(--nav-hover-text-color);
}

h2 a, h3 a{
    color: white;
    text-decoration: none;
}
h2, h3 a:hover {
    font-size: 1.6em;
    color: #d2b373 !important;
    transition: 0.3s;
}

h2 {
    text-align: center;
}

header {
    width: 100%;
    height: 95vh;    
    position: relative;
    background-image: url("Quadeca-CI7A9836-scaled.jpg");
    background-size: cover;
    background-position: center;
    min-height: 75vh;
    display: flex;
    align-items: flex-end; 
    padding: 2rem;
    
}

.homedescription {
    position: relative;
    z-index: 2;
    color: white;
    margin: 0;
    bottom: 0;
    font-size: 15px;
}

body {
    background-color: #1c2536;
    color: white;
}

.hometitle {
    position: absolute;
    z-index: 0;
    margin: 0;
    top: 0;
    font-family: 'Shalimar';
    font-size: 3rem;
}

main {
    width: 95%;
    margin: 0 auto;
}

.albums, .otherprojects {
    width: 100%;
    height: 70vh;
    position: relative;
    padding: 1rem;
}

.albums, .otherprojects h2 {
    padding: 1rem;
}

.albums, .otherprojects img {
    width: 160px;
}

.fmtycover, .blushcover {
    position: absolute;
    left: calc(100% * 0/2);
}

.scrapyardcover, .stardustcover {
    position: absolute;
    top: 60%;
    left: calc(100% * 0/2);
}

.idmthycover, .runningcover {
    position: absolute;
    left: calc(100% * 1/2);
}

.vanishercover, .sunshinecover {
    position: absolute;
    left: calc(100% * 1/2);
    top: 60%;
}

h3 {
    text-align: center;
}

img.albums, img.otherprojects {
    size: 100px;
}

/* ----- MEDIA QUERY for landscape/desktop layout ----- */
@media screen and (orientation: landscape) {

    #navBurger {
        display: none;
    }

    nav>ul {
        overflow: visible;
    }

    nav>ul>li {
        float: left;
        margin: 0.5rem;
    }

    nav>ul>li a {
        padding-right: 0.5rem;
        margin: 0;
    }

    nav>ul>li>ul {
        margin: 0 0.5rem 0.5rem 0;
        visibility: hidden;
        position: absolute;
    }

    nav>ul>li.clicked>ul {
        display: block;
        visibility: visible;
    }

    nav>ul>li>ul li {
        margin: 0;
        white-space: nowrap;
    }

    nav>ul>li>a::after {
        content: "";
    }


.homedescription {
    font-size: 20px;
}

.albums, .otherprojects {
    height: 50vh;
    width: 100%;
    margin: 0 auto;
    left: 50px;
}
    
.albums img, .otherprojects img {
    width: 300px;
}

.fmtycover, .blushcover {
    left: calc(100% * 0/4);
}

.scrapyardcover, .stardustcover {
    left: calc(100% * 1/4);
    top: 16px;
}

.idmthycover, .runningcover {
    position: absolute;
    left: calc(100% *2/4);
}

.vanishercover, .sunshinecover {
    position: absolute;
    left: calc(100% * 3/4);
    top: 16px;
}
    
}