@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap');


* {
    box-sizing: border-box; 
	padding: 0; 
	margin: 0; 
}

h1 {
    font-family: "Stack Sans Notch" , sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1, h2, p {
	padding: 0;
	margin: 0;
}

main {
    height: 600vh;
    background-image: url("getty_180262211_372628.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
}

section {
    position: relative;
    height: 100vh;
}

#section1 {
    height: 200vh;
}


section > .content {
    position: absolute;
    width: 42vw;
    top: 20vh;
    right: min(4vw, calc( 4vw * 3 * var(--progress) ) ); 
    opacity: calc( 8 * var(--progress) ); 
}

#section1 > .content,
#section5 > .content {
    right: 4vw; 
    opacity: 1.0; 
}


section > .content > p {
    font-family: Arial, sans-serif;
    font-size: 2rem;
    padding: 1rem;
}

section > .instructions {
    position: absolute;
    bottom: 102vh;
    right: 4vw;
    width: 42vw;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: #000;
    padding-left: 1rem; 
    opacity: calc(1 - (5 * var(--progress) ) ); 
}


#section1 p,
#section1 h1 {
    text-transform: uppercase;
}


#section1 h1 {
    font-size: 7rem;
    line-height: 6rem;
    font-family: Limelight, serif;
    margin-left: -0.4rem; 
    padding-left: 1rem; 
}


section p {
    background-color: #cfddebbb;
}