* {
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    width: 100%;
    height: 100vh;
}

header h1 {
    text-align: center;
    position: absolute;
}

#recipe-image {
    background-size: cover;
    margin-top: 50px;
    background-position: center center;
    position: absolute;
    width: 100vw;
    background-image: url("david-todd-mccarty-IZcorReJ9WU-unsplash.jpg");
}