* {
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    width: 100%;
    height: ;
}

header h1 {
    text-align: center;
    position: absolute;
}

header p {
    text-align: right;
    position: reseponsive;
}

#recipe-image {
    background-size: cover;
    background-position: center center;
    position: absolute;
    width: 100vw;
    background-image: url("david-todd-mccarty-IZcorReJ9WU-unsplash.jpg");
}